<div class="recoveryContainer">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-8">
                <div class="card" style="margin-top: 2%;">                
                    <h3 class="text-center">Recuperación de contraseña</h3>
                    <form action="" method="POST">
                        <div class="mb-3">
                            <label for="correo" class="form-label"><i class="ri-mail-fill ri-lg"></i>Escribe tu correo</label>
                            <input type="email" class="form-control" id="correo" name="correo" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label"><i class="ri-lock-fill ri-lg"></i>Ingresa la nueva contraseña</label>
                            <input type="password" class="form-control" id="contrasena" name="contrasena" required>
                        </div>
                        <div class="mb-3">
                            <label for="contrasenaDos" class="form-label"><i class="ri-lock-fill ri-lg"></i>Ingresa de nuevo la contraseña</label>
                            <input type="password" class="form-control" id="contrasenaDos" name="contrasenaDos" required>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-success" type="submit">Cambiar contraseña <i class="ri-key-fill ri-lg"></i></button>
                            <p class="text-center"><strong><a href="/login/inicio" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Regresar al inicio de sesion</a></strong></p>

                            <!-- <div class="card flex justify-content-center">
                                <p-password [(ngModel)]="value" [toggleMask]="true"></p-password>
                            </div> -->
                            <p class="text-center"><strong><a href="/" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ir al inicio</a></strong></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

</div>

