<div class="HomeContainer">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-8">
                <div class="card" style="margin-top: 2%;">   
                    <form action="" method="POST" class="mt-5 mb-5">
                        <div class="text-center mb-3">
                            <img src="/assets/software_Insights_logo_name.png" alt="" class="img-fluid" style="max-height: 100px;">
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <!-- <button class="btn btn-success" type="submit">Entrar <i class="ri-arrow-right-fill ri-lg"></i></button> -->
                            <a href="/login/inicio" class="btn btn-warning"><strong>Iniciar sesión</strong></a>
                            <a href="/login/registro" class="btn btn-outline-dark"><strong>Crear cuenta</strong></a>
                                <!-- <p class="text-center"><strong><a href="/" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ir al inicio</a></strong></p> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

